<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta author="Muhamad Irgi Fahrezi">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="global-container">
        <div class="container">
            <br>
            <ul class="list-group">
                <a href="javascript:;" class="list-group-item list-group-item-action">First item</a>
                <a href="javascript:;" class="list-group-item list-group-item-action active">Second item</a>
                <a href="javascript:;" class="list-group-item list-group-item-action">Third item</a>
                <a href="javascript:;" class="list-group-item disabled">Disabled item</a>
            </ul>
        </div>
        <br>
        <div class="container">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">Success item</li>
                <li class="list-group-item list-group-item-secondary">Secondary item</li>
                <li class="list-group-item list-group-item-info">Info item</li>
                <li class="list-group-item list-group-item-warning">Warning item</li>
                <li class="list-group-item list-group-item-danger">Danger item</li>
                <li class="list-group-item list-group-item-primary">Primary item</li>
                <li class="list-group-item list-group-item-dark">Dark item</li>
                <li class="list-group-item list-group-item-light">Light item</li>
            </ul>
        </div>
    </div>

    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/bootstrap.js"></script>
</body>
</html>