%input-item {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px lightgray;
    outline: none;
    font-size: 14px!important;
    width: 100%;
    transition: all .3s;
    padding: 3px;

    &:focus {
        border-bottom: solid 2px $blue;
    }
}

.input-field {
    margin-top: 5px;
    margin-bottom: 5px;

    & > label {
        transform: none;
        font-size: 12px;
    }
}

input.input-item, textarea.input-item {
    @extend %input-item;

    &:disabled {
        background-color: #fafafa;
        &::placeholder {
            color: lightgray;
        }
    }
}

div.input-wrapper {
    margin-bottom: 10px;

    input {
        height: 30px!important;
        margin-bottom: 0!important;
    }
}

div.login-container div.input-wrapper {
    margin-bottom: 20px;
}

// span.input-icon {
//     background-color: yellow;
//     width: 30px;
//     height: 30px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     bottom: 1px;
// }

.grow-left {
    flex-grow: 1;
    text-align: right;
    margin-right: 0;
}

div.sidebar-section {
    .material-icons {
        margin-right: 10px;
    }
}

.breadcrumb {
    padding: 5px 0;
    margin-bottom: 0;
    background-color: unset;

    li {font-size: 12px;}
}

h2 {font-size: 22px; margin-bottom: 0;}
h3 {font-size: 20px; margin-bottom: 10px;}
p {margin-bottom: 0;}


.table {
    border: solid 1px lightgray;
    margin-bottom: 0;

    tbody td, thead th {
        vertical-align: middle;
        border-bottom: solid 1px lightgray;
        border-top: solid 1px transparent;
        padding: 5px;
    }

    thead th {font-size: 14px;}
    tbody td {font-size: 12px;}
}

.file-container {
    display: flex;
    label {
        margin-bottom: 0;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        min-width: 130px;
    }
}

input[type=file] {display: none;}

.file-item {
    border-bottom: solid 2px $blue;
    width: 100%;
    padding: 7px;
}

.datepicker-modal, .timepicker-modal {
    height: auto;

    .modal-content {
        padding: 0!important;
    }
}

.datepicker-cancel, .datepicker-done, .timepicker-close {
    @include x-btn($blue);
    color: white!important;
    margin-left: 5px;

    &:hover {color: $blue!important;}
}

.modal {
    height: auto;
}

div.modal-header {
    @extend %gradient;
    color: white;
    border-radius: 0;

    h4 {
        margin: 0;
    }
}

div.modal-content {
    border: none;
    border-radius: 0;
    background-color: inherit;
    padding: 20px!important;
}

div.modal-footer {
    border: none;
    border-radius: 0;
    display: block;
}

.dropdown-menu {
    border: none!important;
    border-radius: 0!important;
    box-shadow: 0px 1px 1px darkgrey;
}

.btn-sect {
    display: flex;
    flex-wrap: wrap;

    button, a, input[type=submit] {
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

table.dataTable.no-footer {
    border-bottom: solid 1px lightgray;
    width: 100%!important;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 8px 10px;
    border-bottom: solid 1px lightgray;
}

div.global-container table.table tr th:first-child, div.global-container  table.table tr td:first-child {
    text-align: left;
}

div.global-container {

    .collapsible-header {
        padding: 10px;
    }

    .collapsible-body {
        padding: 15px;
    }

    .custom-checkbox {
        text-align: center;
    }

    input:not([type]), input[type=text]:not(.browser-default), 
    input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), 
    input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), 
    input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), 
    input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), 
    input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
        height: 25px;
    }

    .dataTables_wrapper {
        select {
            display: inline-block;
            height: 35px;
            margin: 0 5px;
        }

        .dataTables_filter label, .dataTables_length label {
            display: flex;
            align-items: center;
            font-size: 12px;
        
            input {
                margin-left: 5px;
            }
        }


    }

    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, 
    .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, 
    .dataTables_wrapper .dataTables_paginate {
        font-size: 12px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, 
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        @include x-btn($blue);
        background: $blue;
        color: white!important;

        &:hover {
            color: $blue!important;
        }
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 5px 10px;
        border: solid 2px transparent;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
        border: 1px solid transparent;
    }
}

