%input-item {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px lightgray;
    outline: none;
    font-size: 12px;
    width: 100%;
    transition: all .3s;
    padding: 3px;

    &:focus {
        border-bottom: solid 2px $blue;
    }
}

input.input-item, textarea.input-item {
    @extend %input-item;

    &:disabled {
        background-color: #fafafa;
        &::placeholder {
            color: lightgray;
        }
    }
}

div.input-wrapper {
    margin-bottom: 10px;
}

div.login-container div.input-wrapper {
    margin-bottom: 20px;
}

// span.input-icon {
//     background-color: yellow;
//     width: 30px;
//     height: 30px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     bottom: 1px;
// }

.grow-left {
    flex-grow: 1;
    text-align: right;
    margin-right: 0;
}

div.sidebar-section {
    .material-icons {
        margin-right: 10px;
    }
}

.breadcrumb {
    padding: 5px 0;
    margin-bottom: 0;
    background-color: unset;

    li {font-size: 12px;}
}

h2 {font-size: 22px; margin-bottom: 0;}
h3 {font-size: 20px; margin-bottom: 10px;}
p {margin-bottom: 0;}


.table {
    border: solid 1px lightgray;
    margin-bottom: 0;

    tbody td, thead th {
        vertical-align: middle;
        border-bottom: solid 1px lightgray;
        padding: 8px 5px;
    }
}