%input-item {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px lightgray;
    outline: none;
    font-size: 14px!important;
    width: 100%;
    transition: all .3s;
    padding: 3px;

    &:focus {
        border-bottom: solid 2px $blue;
    }
}

input.input-item, textarea.input-item {
    @extend %input-item;

    &:disabled {
        background-color: #fafafa;
        &::placeholder {
            color: lightgray;
        }
    }
}

div.input-wrapper {
    margin-bottom: 10px;
}

div.login-container div.input-wrapper {
    margin-bottom: 20px;
}

// span.input-icon {
//     background-color: yellow;
//     width: 30px;
//     height: 30px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     bottom: 1px;
// }

.grow-left {
    flex-grow: 1;
    text-align: right;
    margin-right: 0;
}

div.sidebar-section {
    .material-icons {
        margin-right: 10px;
    }
}

.breadcrumb {
    padding: 5px 0;
    margin-bottom: 0;
    background-color: unset;

    li {font-size: 12px;}
}

h2 {font-size: 22px; margin-bottom: 0;}
h3 {font-size: 20px; margin-bottom: 10px;}
p {margin-bottom: 0;}


.table {
    border: solid 1px lightgray;
    margin-bottom: 0;

    tbody td, thead th {
        vertical-align: middle;
        border-bottom: solid 1px lightgray;
        padding: 8px 5px;
    }
}

.file-container {
    display: flex;
    label {
        margin-bottom: 0;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        min-width: 130px;
    }
}

input[type=file] {display: none;}

.file-item {
    border-bottom: solid 2px $blue;
    width: 100%;
    padding: 7px;
}

.datepicker-modal, .timepicker-modal {
    height: auto;

    .modal-content {
        padding: 0!important;
    }
}

.datepicker-cancel, .datepicker-done, .timepicker-close {
    @include x-btn($blue);
    color: white!important;
    margin-left: 5px;

    &:hover {color: $blue!important;}
}

.modal {
    height: auto;
}

div.modal-header {
    @extend %gradient;
    color: white;
    border-radius: 0;

    h4 {
        margin: 0;
    }
}

div.modal-content {
    border: none;
    border-radius: 0;
    background-color: inherit;
    padding: 20px!important;
}

div.modal-footer {
    border: none;
    border-radius: 0;
    display: block;
}

.dropdown-menu {
    border: none!important;
    border-radius: 0!important;
    box-shadow: 0px 1px 1px darkgrey;
}

.btn-sect {
    display: flex;
    flex-wrap: wrap;

    button, a, input[type=submit] {
        margin-right: 5px;
        margin-bottom: 5px;
    }
}