@media only screen and (max-width: 768px) {
    div.right-section {
        flex-basis: 25%;
    }

    div.left-section {
        flex-basis: 75%;
    }

    div.main-section {
        margin-left: 0;
    }

    div.sidebar-section {
        width: 0;
        box-shadow: 2px 0 5px lightgrey;
    }
}

@media only screen and (max-width: 576px) {
    div.text-section {
        display: none;
    }

    div.title-section {
        width: 50px;
    }
}