// sass --watch styles.scss:styles.css

@import "_resources";

@import "materialize/_variables";
@import "materialize/_global";
@import "materialize/_dropdown";
// @import "_input-fields.scss";
@import "materialize/_select";
@import "materialize/_modal";
@import "materialize/_datepicker";
@import "materialize/_timepicker";

@import "bootstrap/bootstrap";
@import "_override";

%perfect-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// HEADER
div.header-container {
    display: flex;
    height: 60px;
    box-shadow: 0 1px 6px $deep-grey;
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: white;
    top: 0;
}

div.title-container {
    display: flex;
    align-items: center;
    background-color: rgba($color: $indigo, $alpha: .7);
    width: 250px;
}

div.logo-section {
    width: 50px;
    @extend %perfect-center;
}

div.text-section {
    h1 {
        margin-bottom: 0;
        font-size: 32px;
        a {color: $light-grey;}
    }
}

div.head-nav-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 15px;
}

div.left-section {
    flex-basis: 75%;
}

div.right-section {
    flex-basis: 25%;
}

ul.head-nav-items {
    display: flex;
    justify-content: space-between;
}

// ASIDE
div.side-nav-container {
    background-color: $indigo;
    position: fixed;
    width: 250px;
    transition: all .3s;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;;
}

li.side-nav-item {
    a {
        color: white;
        width: 250px;
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 14px;

        i:nth-of-type(1) {
            margin-right: 5px;
            font-size: 17px;
        }

        i:nth-of-type(2) {
            position: absolute;
            right: 5px;
            font-size: 16px;
        }

        &:hover {
            background-color: rgba($color: $grey, $alpha: .4);
        }
    }
}

// MAIN
div.body-container {
    margin-top: 60px;
    display: flex;
}

div.main-container {
    flex-grow: 1;
    margin-left: 250px;
    transition: all .3s;
    // z-index: 1;
}

div.body-section {
    padding-top: 10px;
}

div.action-buttons {
    display: flex;
    a {
        background-color: $indigo;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        color: white;
        margin-right: 5px;
        transition: all .2s;
        @extend %perfect-center;

        i {font-size: 14px;}

        &:hover {
            background-color: rgba($color: $indigo, $alpha: .8);
        }
    }
}

// FOOTER

@import "_responsive";