// sass --watch styles.scss:styles.css

@import "_resources.scss";
@import "_override.scss";
@import "_responsive.scss";
@import "_variables.scss";
@import "_global.scss";
@import "_dropdown.scss";
@import "_input-fields.scss";
@import "_select.scss";
@import "_modal.scss";
@import "_datepicker.scss";
@import "_timepicker.scss";

// GLOBAL
body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;

    &:hover {border: none; text-decoration: none; color: black;}
}

ul {padding: 0; margin: 0;}

li {list-style-type: none;}

.hide {
    width: 0!important;
}

.remove-margin {
    margin-left: 0!important;
}

%gradient {
    background: linear-gradient(45deg, #00AEFF 50%, #3369E6 100%);
}

// HEADER SECTION
div.header-container {
    height: 70px;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    box-shadow: 1px 0px 4px darkslategrey;
}

div.title-section {
    width: 250px;
    @extend %gradient;
}

div.logo-section {
    width: 50px;
}

div.text-section {
    a {color: white;}
}

div.head-nav-section {
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
}

div.right-section {
    flex-basis: 75%;
}

div.left-section {
    flex-basis: 25%;
}

div.toggle-btn {
    width: 50px;

    a i { font-size: 32px; }
}

// MAIN SECTION
div.main-container {
    margin-top: 70px;
}

div.main-section {
    margin-left: 250px;
    transition: all .3s;
    flex-grow: 1;
}

div.content-wrapper {
    margin-bottom: 15px;
    box-shadow: 0px 1px 1px lightgrey;
    background-color: white;
}

span.mobile-tbl-header {
    display: none;
}

table.table {
    tr th:first-child, tr td:first-child {
        vertical-align: top;
        text-align: center;
    }

    thead tr:first-child {
        @extend %gradient;
        color: white;

        .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
            border: solid 1px white;
            border-radius: 3px;
        }
    }
}

div.action-btn {
    display: flex;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        transition: all .2s;

        i {font-size: 16px;}

        &:first-child {
            background-color: $blue; 
            color: white;
            border: solid 1px $blue;

            &:hover {
                background-color: white;
                color: $blue;
            }
        }
        &:last-child {
            background-color: $red; 
            color: white;
            border: solid 1px $red;

            &:hover {
                background-color: white;
                color: $red;
            }
        }
    }
}

// SIDEBAR SECTION
div.sidebar-section {
    @extend %gradient;
    padding-top: 10px;
    padding-bottom: 20px;
    position: fixed;
    z-index: 2;
    width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .3s;

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(45deg, $yellow 50%, $orange 100%);
    }
}

ul.side-nav-section {
    margin: 0;

    li.nav-item {
        & > a {
            padding: 10px 5px 10px 10px;
            color: white;
            width: 250px;
            font-size: 14px;
            align-items: center;

            &:hover {
                background-color: rgba($color: #2962ff, $alpha: .6 );
                transition: all .3s;
            }
        }
    }
}

ul.nav-child-wrapper {
    @extend %gradient;

    li.nav-item a {
        padding-left: 30px;
        font-size: 12px;
    }
}

.collapsible-target {
    display: none;
}

// FOOTER SECTION

// LOGIN PAGE SECTION
div.login-box {
    width: 320px;
    box-shadow: 0px 2px 2px lightgrey;
}

div.login-box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0;

    button.login-btn {
        @extend %gradient;
        border: none;
        padding: 7px;
        width: 100%;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
        transition: all .1s;

        &:hover {
            background: linear-gradient(45deg, #3369E6 50%, #00AEFF 100%);
            border-radius: 15px;
        }
    }
}

div.login-header {
    h1 {
        font-weight: bolder;
        font-size: 24px;
        margin-bottom: 20px;
    }
}

div.login-body {
    margin: 30px 0;
    width: 250px;
}

div.login-footer {
    p {font-size: 14px;}
}